@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --font-family-sans: "Inter", sans-serif;
  --color-brand-blue: #0070f3;
  --color-brand-dark: #0a0a0a;
}

@layer base {
  body {
    font-family: var(--font-family-sans);
    @apply antialiased text-gray-900 bg-white;
  }
}
